.img{
  position: relative;
  background-image: url(backgroundmusic.jpg);
  height: 7rem;
  background-size: 100% 100%;
}
.img-cover{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.img .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}
body{
  margin:0;
}
a:link{
  color:black;
  text-decoration: none;
}
a:visited{
  color:black;
  text-decoration: none;
}
a:hover{
  color:gray;
  text-decoration: none;
}
a:active{
  color:gray;
  text-decoration: none;
}
 #active{
   color:red;
 }
 h1{
   font-size:35px;
   text-align: center;
   margin:0;
   padding:20px;
 }
ol{
  border-right:1px solid gray;
  width:100px;
  margin:0;
  padding:20px;
  height:100vh;
}
 #grid ol {
   padding-left: 47px;
 }
 #grid{
   display:grid;
   grid-template-columns: 150px 1fr;
   border-top: 1px solid gray;
 }
 #article{
   padding-left: 24px;
 }
 #position{
   position:relative;
   left: 4px;
   z-index: 2;
 }
 @media(max-width:800px){
   #grid{
     display: block;
   }
   #grid ol{
   border-right:none;
   height:auto;
   }
   h1{
   border-bottom:none;
 }
}
